.result-assess {
  .start-assess {
    margin: 20px 25%;
    .start-btn {
      margin-left: 90px;
    }
  }
  .report-type {
    margin: 50px 200px;
    .upload-file {
      margin: -25px 0 100px 160px;
      .upload-tip {
        margin-top: 15px;
        color: #aaa;
      }
    }
    .report-btn {
      margin-left: 160px;
    }
  }

  .index-config {
    .control-index {
      margin: 50px 150px;
      .el-checkbox-group {
        display: inline-block;
      }

      .index-check {
        margin-top: 20px;

        .el-checkbox-group {
          display: inline-block;
          width: 800px;
          position: relative;
          top: -18px;
          left: 70px;
        }

        .el-checkbox {
          margin-bottom: 20px;
        }
      }
    }
    .enter-btn {
      margin-left: 50%;
    }
  }
}