//活动计划模板

//模板预览
.preview-template {
    h2 {
        height: 50px;
        background: white;
       
        text-indent: 25px;
        line-height: 50px;
    }

    .coll-item {
        font-size: 12px;
        position: relative;

        .icon-txt {
            color: blue;
            font-size: 14px;
            position: absolute;
            top: 10px;
            left: 1190px;
        }

        .coll-content {
            margin-left: 200px;


            .coll-form {
                input {
                    width: 400px;
                }

                .el-textarea__inner {
                    width: 400px;
                }

                .icon-local {
                    position: relative;

                    i {
                        position: absolute;
                        top: 8px;
                        left: 5px;

                    }
                }

                .active-lobby {

                    .el-input {
                        width: 250px;
                        display: inline-block;

                        input {
                            width: 250px;

                        }

                    }

                }

                .active-target {
                    .el-checkbox {
                        margin-right: 10px;
                    }

                    .el-input {
                        width: 250px;
                        margin-bottom: 5px;
                        display: inline-block;

                        input {
                            width: 250px;
                            margin-left: 18px;

                        }

                    }
                }

            }

            .active-rule {
                .rule-item {

                    .el-select,
                    .el-input {
                        width: 100px;
                        margin-right: 20px;
                        display: inline-block;

                        input {
                            width: 100px;
                        }
                    }

                    .last-rule {
                        input {
                            width: 200px;
                        }

                    }
                }
            }

            .remark {
                span {
                    display: inline-block;
                    height: 75px;
                }

                .el-textarea {
                    width: 500px;
                    display: inline-block;

                    textarea {
                        width: 500px;
                        margin-top: 10px;

                    }

                }

            }

            .index-check {
                margin-top: 15px;

                .item-check {
                    display: inline-block;
                    width: 800px;
                    position: relative;
                    top: -24px;
                    left: 65px;

                }

            }

            .upload-file {
                width: 600px;
                margin-bottom: 20px;

                .el-upload__tip {

                    font-size: 14px;
                    color: #aaa;
                    position: relative;
                    left: 65px;
                }

            }
            .upload-img{
                margin-bottom: 20px;
                .upload-box{
                    display: inline-block;
                }
            }
            .drag-upload{
                position: relative;
                left: 78px;
            }


        }

        .el-collapse-item__header {
            font-size: 16px;
            font-weight: 600;
            text-indent: 25px;
        }

        .el-progress {
            width: 400px;
        }

    }

}