.active-plan .create-plan {
  margin: 0 0 10px 36px;
}
.active-plan .create-plan span {
  font-size: 18px;
  font-weight: 800;
}
.active-plan .base-info {
  padding: 0;
  margin-left: 50px;
}
.active-plan .base-later {
  margin-left: 50px;
}
.active-plan .upload-module {
  margin: 20px 0 20px 150px;
}
.active-plan .upload-module .upload-file {
  width: 600px;
}
.active-plan .upload-module .upload-file .el-upload__tip {
  font-size: 14px;
  color: #aaa;
  position: relative;
  left: 65px;
}
.active-plan .upload-module .upload-img {
  margin: 20px 0;
}
.active-plan .upload-module .upload-img .upload-box {
  display: inline-block;
}
.active-plan .upload-module .drag-upload {
  margin-bottom: 20px;
  position: relative;
  left: 75px;
}
.active-plan .active-rule {
  margin: 20px 0 20px 150px;
}
.active-plan .active-rule .rule-item .el-select,
.active-plan .active-rule .rule-item .el-input {
  width: 120px;
  margin-right: 20px;
  display: inline-block;
}
.active-plan .active-rule .rule-item .el-select input,
.active-plan .active-rule .rule-item .el-input input {
  width: 120px;
}
.active-plan .active-rule .add-rule {
  width: 440px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  border: 1px dashed #aaa;
}
.active-plan .active-table {
  margin: 20px 0 20px 150px;
}
.active-plan .active-table .remark .el-textarea {
  width: 500px;
  display: inline-block;
  margin-top: 20px;
}
.active-plan .control-index {
  margin: 20px 0 20px 150px;
}
.active-plan .control-index .el-checkbox-group {
  display: inline-block;
}
.active-plan .control-index .index-check {
  margin-top: 20px;
}
.active-plan .control-index .index-check .el-checkbox-group {
  display: inline-block;
  width: 800px;
  position: relative;
  top: -15px;
  left: 60px;
}
.active-plan .control-index .index-check .el-checkbox {
  margin-bottom: 20px;
}
.active-plan .footer-btn {
  margin: 20px 0 100px 55%;
}
.active-plan .process-info {
  padding: 50px;
}
.active-plan .process-info .process-form {
  margin-left: 150px;
  margin-top: -50px;
}
