.plan-template {
  padding: 25px;
}
.plan-template .box-card {
  width: 350px;
  display: inline-block;
  margin: 0 20px 20px 0;
}
.plan-template .box-card .clearfix {
  height: 180px;
}
.plan-template .box-card .clearfix img {
  float: left;
  width: 50px;
  height: 80px;
}
.plan-template .box-card .clearfix span {
  display: inline-block;
}
.plan-template .box-card .clearfix .card-title {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}
.plan-template .box-card .clearfix .card-text {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}
.plan-template .box-card .el-card__body {
  text-align: center;
  background: #eee;
}
.plan-template .box-card .card-btn {
  margin-left: 49%;
  padding: 3px 0;
  color: #aaa;
}
.preview-template .template-title {
  height: 50px;
  text-indent: 25px;
  line-height: 50px;
}
.preview-template .template-info {
  margin: 20px 20px;
}
.preview-template .file-info {
  margin-left: 100px;
}
.preview-template .table-info {
  margin-left: 100px;
}
.preview-template .target-check {
  width: 60%;
  margin-left: 100px;
  margin-bottom: 60px;
}
.preview-template .target-check .check-box {
  margin-left: 65px;
  margin-top: -16px;
}
.preview-template .target-check .check-box .el-checkbox {
  margin-bottom: 20px;
}
