.el-select {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.selectSure {
  margin-top: 20px;
}
.select-box {
  margin-bottom: 20px;
  width: 70%;
}
.select-box /deep/ .el-table {
  width: 100% !important;
}
.showbox {
  width: 70%;
  margin-bottom: 20px;
}
.btn {
  text-align: right;
}
.headling {
  margin-bottom: 20px;
  font-weight: normal;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
 /deep/ .el-form .editfrom {
  display: flex;
  flex-wrap: wrap;
}
 /deep/ .el-form .editfrom > .el-form-item {
  flex: 20%;
  margin-right: 20px;
}
.vlt-card {
  border: 1px solid #eee;
  padding: 10px 10px;
}
.vlt-card:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
}
.checkInfor .el-checkbox {
  margin-right: 0;
}
.checkInfor .el-select /deep/ .el-input__inner {
  width: 140px;
}
.tips {
  margin-bottom: 10px;
  text-align: right;
}
.tips span {
  color: red;
}
.tip {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
.tip span {
  color: red;
}
