 .centerWatch main {
    background-color: #02142c;
    height: 1200px;
    display: flex;
    padding: 20px;
    overflow-x：hidden,
    .title {
      height: 40px;
      color: #fff;
      line-height: 40px;
      background: linear-gradient(to right, #1868a9, #010c1b);
      padding-left: 5px;
    }
    > .left {
      flex: 20%;
      position: relative;
      > div {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .one {
        border: 1px solid #267ca6;
        border-radius: 3px;
        height: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
  
        .salesTitle {
          flex: 10%;
          margin-top: 20px;
          color: #1e98df;
          font-size: 18px;
          text-align: center;
        }
        .topSales {
          flex: 60%;
          width: 100%;
        }
        .salesNumber {
          margin-bottom: 50px;
          > div {
            display: flex;
            section {
              font-size: 14px;
              flex: 33.3%;
              text-align: center;
              > p:first-child {
                margin: 10px 10px 10px;
              }
              &:first-child {
                > p:first-child {
                  color: #d8777f;
                }
              }
              &:nth-child(2) {
                > p:first-child {
                  color: #267ca6;
                }
              }
              &:nth-child(3) {
                > p:first-child {
                  color: #25b098;
                }
              }
  
              > p:last-child {
                color: #fff;
              }
            }
          }
        }
      }
      .bottomGameMachine {
        margin-top: 20px;
        border: 1px solid #267ca6;
        border-radius: 3px;
        height: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
  
        > .bottomMachine {
          flex: 90%;
        }
      }
    }
    > .center {
      flex: 45%;
      border: 1px solid #267ca6;
      border-radius: 3px;
      margin: 0 20px;
      height: 81.5%;
      position: relative;
      > div {
        width: 100%;
        height: 100%;
        position: absolute;
        .left_map {
          width: 100%;
          height: 100%;
        }
        .salesNum {
          position: absolute;
          width: 120px;
          height: 180px;
          bottom: 5px;
          right: 2px;
          border: 1px solid #267ca6;
          border-radius: 3px;
          div:nth-child(n + 2) {
            height: 38px;
            line-height: 38px;
            color: #267ca6;
            border-bottom: #0d3153 solid 1px;
            padding-left: 15px;
          }
        }
      }
    }
    > .right {
      flex: 35%;
      position: relative;
      > div {
        width: 100%;
        position: absolute;
        height: 100%;
      }
      .salesRanking {
        width: 100%;
        border: 1px solid #267ca6;
        border-radius: 3px;
        height: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
        .tableData {
          flex: 90%;
        }
      }
      .marketShares {
        margin-top: 20px;
        border: 1px solid #267ca6;
        border-radius: 3px;
        height: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
        .sharesMap {
          flex: 90%;
          background-color: transparent;
        }
      }
    }
  }
  /deep/ .main-body .el-table td > .cell {
    color: #fff !important;
  }
  
  .right_opetate {
    flex: 1;
    height: 100%;
    background: #404a59;
  }
  
  .mianMap {
    height: 100%;
  }
  
  .top5 {
    background-color: #1c2c42;
    padding: 0 5px;
    position: absolute;
    width: 150px;
    height: 220px;
    box-shadow: 2px 2px 13px 3px #fff;
    top: 20px;
    left: 15px;
    color: #dadde0;
    border-radius: 4px;
    border: 1px solid #fff;
    > span {
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-bottom: 1px solid #dadde0;
      display: block;
    }
    p {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px dashed #dadde0;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      > span {
      }
    }
  }