.el-table thead {
  color: #666666;
  font-weight: 900;
}
.el-table td,
.el-table th.is-leaf,
.el-table--border,
.el-table--group {
  border-color: #dcdcdc;
}
.el-table th {
  background: #f0f0f0;
}
.el-table .cell {
  text-align: center;
}
.el-table--border {
  border: 1px solid #dcdcdc;
}
.el-button--text {
  color: #0000ff;
}
