.vlt-card {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1px solid #dcdee2;
  border-color: #e8eaec;
  padding: 16px;
}
.vlt-card:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
}
.main-body {
  padding: 10px;
}
/*表格公用样式*/
.main-body .el-table th {
  height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f8f8f9;
  border-right: 1px solid #e8eaec;
}
.main-body .el-table th > .cell {
  font-size: 12px;
  color: #444444;
  line-height: 1;
}
.main-body .el-table td {
  text-align: center;
  background-color: #fff;
}
.main-body .el-table td > .cell {
  font-size: 12px;
  color: #444444;
  line-height: 18px;
}
/*按钮公用样式*/
.el-table td .el-button--mini {
  padding: 2px 7px;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 5px;
}
.el-table td .el-button--mini:last-child {
  margin-right: 0;
}
.main-body .el-button--medium {
  font-size: 12px;
  padding: 7px 15px;
  line-height: 1.5;
}
.mt20 {
  margin-top: 20px;
}
/*搜索按钮*/
.search-bar-comp .el-button {
  height: 34px;
}
.search-bar-comp .el-button--primary {
  height: 32px;
}
/* 编辑 单个样式 */
.vlt-edit-single .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-single .vlt-edit-btn {
  margin-left: 90px;
}
.vlt-edit-single .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-single .el-form-item__label {
  font-size: 12px;
  color: #444444;
}
.vlt-edit-single .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.vlt-edit-single .el-form-item__content,
.vlt-edit-single .el-cascader {
  width: 400px;
}
.vlt-edit-single .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-single .el-select,
.vlt-edit-single .el-date-editor {
  width: 100% !important;
}
.vlt-edit-single .el-input__inner:hover,
.vlt-edit-single .el-select:hover .el-input__inner,
.vlt-edit-single .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-single .el-textarea__inner {
  padding: 5px 10px;
}
/* 编辑 双个样式 */
.vlt-edit-double .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-double .vlt-edit-btn {
  display: flex;
  align-items: flex-end;
}
.vlt-edit-double .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-double .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.vlt-edit-double .el-form-item {
  flex: 50%;
  max-width: 700px;
}
.vlt-edit-double .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.vlt-edit-double .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.vlt-edit-double .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.vlt-edit-double .el-form-item__content {
  width: 400px;
}
.vlt-edit-double .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-double .el-select,
.vlt-edit-double .el-date-editor,
.vlt-edit-double .el-cascader {
  width: 100% !important;
}
.vlt-edit-double .el-input__inner:hover,
.vlt-edit-double .el-select:hover .el-input__inner,
.vlt-edit-double .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-double .el-textarea__inner {
  padding: 5px 10px;
}
/* 编辑 多个样式 */
.vlt-edit-over .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-over .vlt-edit-btn {
  display: flex;
  align-items: flex-end;
}
.vlt-edit-over .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-over .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.vlt-edit-over .el-form-item {
  flex: 30%;
  max-width: 30%;
}
.vlt-edit-over .el-form-item:nth-child(3n+2) {
  margin: 0 5%;
}
.vlt-edit-over .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.vlt-edit-over .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.vlt-edit-over .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.vlt-edit-over .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-over .el-select,
.vlt-edit-over .el-date-editor,
.vlt-edit-over .el-cascader {
  width: 100% !important;
}
.vlt-edit-over .el-input__inner:hover,
.vlt-edit-over .el-select:hover .el-input__inner,
.vlt-edit-over .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-over .el-textarea__inner {
  padding: 5px 10px;
}
.money_account .el-tabs--left .el-tabs__item.is-left {
  width: 100px;
}
.develop-plan .el-tabs--left .el-tabs__item.is-left {
  text-align: left;
}
.result-assess .vlt-edit-wrap {
  margin: 50px 0 20px 350px;
}
.result-assess .index-config .check .el-checkbox {
  padding-bottom: 20px;
}
.allot-task .formTime input {
  width: 400px;
}
.create-active .header-box .el-form-item__label {
  width: 145px !important;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.create-active .addForm-box .add-form :nth-child(1) .el-form-item__label {
  width: 100px !important;
}
.create-active .addForm-box .add-form .add-textarea {
  margin-left: 20px;
}
.create-active .process-content .el-header {
  height: 110px !important;
}
.preview-template .coll-item .coll-form {
  margin-left: 200px;
  padding: 20px;
}
.preview-template .coll-item .coll-form input {
  width: 400px;
}
.preview-template .coll-item .coll-form .el-textarea__inner {
  width: 400px;
}
.preview-template .coll-item .coll-form .active-target .el-checkbox {
  margin-right: 10px;
}
.preview-template .coll-item .coll-form .active-target .el-input {
  width: 250px;
  margin-bottom: 5px;
  display: inline-block;
}
.preview-template .coll-item .coll-form .active-target .el-input input {
  width: 250px;
  margin-left: 18px;
}
.preview-template .coll-item .coll-form .active-lobby .el-input {
  width: 250px;
  display: inline-block;
}
.preview-template .coll-item .coll-form .active-lobby .el-input input {
  width: 250px;
}
.preview-template .coll-item .active-rule .rule-item .el-select,
.preview-template .coll-item .active-rule .rule-item .el-input {
  width: 100px;
  margin-right: 20px;
  display: inline-block;
}
.preview-template .coll-item .active-rule .rule-item .el-select input,
.preview-template .coll-item .active-rule .rule-item .el-input input {
  width: 100px;
}
.preview-template .coll-item .active-rule .rule-item .last-rule input {
  width: 200px;
}
.preview-template .coll-item .remark .el-textarea {
  width: 500px;
  display: inline-block;
}
.preview-template .coll-item .remark .el-textarea textarea {
  width: 500px;
  margin-top: 10px;
}
.preview-template .coll-item .item-check .el-checkbox {
  padding-bottom: 10px;
}
.preview-template .coll-item .el-collapse-item__header {
  font-size: 16px;
  font-weight: 600;
  text-indent: 25px;
}
.preview-template .coll-item .el-progress {
  width: 400px;
}
.preview-template .coll-item .upload-file {
  width: 600px;
  margin-bottom: 20px;
}
.preview-template .coll-item .upload-file .el-upload__tip {
  font-size: 14px;
  color: #aaa;
  position: relative;
  left: 65px;
}
.preview-template .coll-item .upload-img {
  margin-bottom: 20px;
}
.preview-template .coll-item .upload-img .upload-box {
  display: inline-block;
}
.preview-template .coll-item .drag-upload {
  position: relative;
  left: 78px;
}
.preview-template .coll-item .index-check {
  margin-top: 15px;
}
.preview-template .coll-item .index-check .item-check {
  display: inline-block;
  width: 800px;
  position: relative;
  top: -15px;
  left: 60px;
}
.preview-template .coll-item .add-rule {
  width: 472px;
  height: 60px;
  line-height: 60px;
  margin: -10px 0 20px 220px;
  text-align: center;
  font-size: 14px;
  border: 1px dashed #aaa;
}
.account-detail .equity-title {
  margin-left: 32px;
  margin-top: 5px;
}
.account-detail .equity-title span {
  display: inline-block;
  margin-right: 400px;
}
.plan-dedail .base-data .rule-form .el-select {
  width: 210px;
}
.plan-dedail .base-data .rule-form .el-input {
  width: 210px;
}
.plan-dedail .base-data .rule-form .el-input input {
  width: 200px;
}
