.vlt-card {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}
.vlt-card.vc-plr0 {
  padding-left: 0;
  padding-right: 0;
}
/*表格公用样式*/
.main-body .el-table th {
  height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f8f8f9;
  border-right: 1px solid #e8eaec;
}
.main-body .el-table th > .cell {
  font-size: 12px;
  color: #444444;
  line-height: 1;
}
.main-body .el-table td {
  text-align: center;
  background-color: #fff;
}
.main-body .el-table td > .cell {
  font-size: 12px;
  color: #444444;
  line-height: 18px;
}
/*按钮公用样式*/
.el-table td .el-button--mini {
  padding: 2px 7px;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 5px;
}
.el-table td .el-button--mini:last-child {
  margin-right: 0;
}
.main-body .el-button--medium {
  font-size: 12px;
  padding: 7px 15px;
  line-height: 1.5;
}
.mt20 {
  margin-top: 20px;
}
/*搜索按钮*/
.search-bar-comp .el-button {
  height: 34px;
}
.search-bar-comp .el-button--primary {
  height: 32px;
}
/* 编辑 单个样式 */
.vlt-edit-single .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-single .vlt-edit-btn {
  margin-left: 90px;
}
.vlt-edit-single .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-single .el-form-item__label {
  font-size: 12px;
  color: #444444;
}
.vlt-edit-single .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  font-size: 12px;
}
.vlt-edit-single .el-form-item__content,
.vlt-edit-single .el-cascader {
  width: 400px;
}
.vlt-edit-single .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-single .el-select,
.vlt-edit-single .el-date-editor {
  width: 100% !important;
}
.vlt-edit-single .el-input__inner:hover,
.vlt-edit-single .el-select:hover .el-input__inner,
.vlt-edit-single .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-single .el-textarea__inner {
  padding: 5px 10px;
}
/* 编辑 双个样式 */
.vlt-edit-double .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-double .vlt-edit-btn {
  display: flex;
  align-items: flex-end;
}
.vlt-edit-double .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-double .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.vlt-edit-double .el-form-item {
  flex: 50%;
  max-width: 700px;
}
.vlt-edit-double .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.vlt-edit-double .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.vlt-edit-double .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  font-size: 12px;
}
.vlt-edit-double .el-form-item__content {
  width: 400px;
}
.vlt-edit-double .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-double .el-select,
.vlt-edit-double .el-date-editor,
.vlt-edit-double .el-cascader {
  width: 100% !important;
}
.vlt-edit-double .el-input__inner:hover,
.vlt-edit-double .el-select:hover .el-input__inner,
.vlt-edit-double .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-double .el-textarea__inner {
  padding: 5px 10px;
}
/* 编辑 多个样式 */
.vlt-edit-over .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-over .vlt-edit-btn {
  display: flex;
  align-items: flex-end;
}
.vlt-edit-over .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-over .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.vlt-edit-over .el-form-item {
  flex: 30%;
  max-width: 30%;
}
.vlt-edit-over .el-form-item:nth-child(3n+2) {
  margin: 0 5%;
}
.vlt-edit-over .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.vlt-edit-over .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.vlt-edit-over .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  font-size: 12px;
}
.vlt-edit-over .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-over .el-select,
.vlt-edit-over .el-date-editor,
.vlt-edit-over .el-cascader {
  width: 100% !important;
}
.vlt-edit-over .el-input__inner:hover,
.vlt-edit-over .el-select:hover .el-input__inner,
.vlt-edit-over .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-over .el-textarea__inner {
  padding: 5px 10px;
}
.money_Account_Manage .el-tabs__header.is-left {
  padding-top: 40px;
  width: 122px;
}
.money_Account_Manage .el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}
.bankbalance .control-bar-comp {
  margin: 20px 0 0 14px !important;
}
.bankdetail .table_paging {
  display: flex;
  justify-content: flex-end;
}
.bankAdd .el-form-item__label {
  width: 120px !important;
}
.bankAdd .el-form-item__content {
  margin-left: 120px !important;
}
.externalpayadd .el-form-item .el-form-item__label {
  width: 120px !important;
}
.externalpayadd .el-form-item__content {
  margin-left: 120px !important;
}
.externalpayadd .vlt-edit-single .vlt-edit-btn {
  margin-left: 120px;
}
.externalbalance .control-bar-comp {
  margin: 20px 0 0 14px !important;
}
.externaldetail .table_paging {
  display: flex;
  justify-content: flex-end;
}
.haveListDetailTwo .control-bar-comp {
  display: flex;
  justify-content: flex-end;
}
.Customeraccountlist .table_paging {
  display: flex;
  justify-content: flex-end;
}
.roleManage .table-paging-comp {
  display: flex;
  justify-content: flex-end;
}
.operationManage .table-paging-comp {
  display: flex;
  justify-content: flex-end;
}
.operationManage .el-dialog {
  width: 38%;
}
.roleManage .el-dialog {
  width: 38%;
}
.el_box .el-dialog {
  width: 38%;
}
.lotteryTicket .el-dialog {
  width: 38%;
}
.expirySetting .el-dialog {
  width: 38%;
}
.memberEquity .el-dialog {
  width: 38%;
}
.MemberIntegral .el-dialog {
  width: 38%;
}
.MemberGrade .el-dialog {
  width: 38%;
}
.el-collapse-item__header {
  font-size: 16px;
  font-weight: 600;
  text-indent: 25px;
}
.develop-plan .el-tabs--left .el-tabs__item.is-left {
  text-align: left;
}
.tabs-content .el-tabs__nav {
  margin-right: 100px;
}
.tabs-content .el-tabs__item.is-active {
  background: #e6f7ff;
}
.tabs-content .el-tabs--left .el-tabs__active-bar.is-left,
.tabs-content .el-tabs--left .el-tabs__nav-wrap.is-left::after {
  left: 194px;
  margin-right: 10px;
}
.tabs-content .el-tabs--left .el-tabs__nav-wrap.is-left {
  margin-right: -60px;
}
.tabs-content .el-tabs__item {
  padding: 0 70px;
}
.tabs-content .tables-content .el-tabs__item.is-active {
  background: none;
}
.tabs-content .switchStyle .el-switch__label {
  position: absolute;
  display: none;
  color: #fff;
}
.tabs-content .switchStyle .el-switch__label--left {
  z-index: 9;
  left: 6px;
}
.tabs-content .switchStyle .el-switch__label--right {
  z-index: 9;
  left: -14px;
}
.tabs-content .switchStyle .el-switch__label.is-active {
  display: block;
}
.tabs-content .switchStyle.el-switch .el-switch__core,
.tabs-content .el-switch .el-switch__label {
  width: 50px !important;
}
.active-plan .el-form-item__content .el-textarea {
  width: 400px;
}
.active-plan .el-form-item__content .el-input {
  width: 400px;
}
.create-active .step-bar .el-step__title {
  font-size: 14px;
  font-weight: 400;
}
.active-plan .vlt-edit-single .title {
  padding-left: 0;
}
.active-plan .step-bar {
  width: 70%;
  margin: 10px auto;
}
.active-plan .step-bar .el-step__title {
  font-size: 14px;
  font-weight: 400;
}
.info-push .el-tabs__item {
  margin-bottom: 10px;
  padding: 0 50px;
}
.info-push .el-tabs__item.is-active {
  background: #f0faff;
}
.device-form .upload-demo .el-upload-list {
  width: 400px;
}
.tables-content .el-tabs__item.is-active {
  background: none;
}
.login-container.vlt-card .vlt-edit-single .el-input__inner {
  width: 359px;
  height: 35px;
  border-radius: 4px;
}
.eachBet-form {
  padding: 16px;
}
.eachBet-form .el-form-item__content {
  width: 400px;
  display: flex;
  align-items: center;
}
.eachBet-form .el-form-item:first-child .el-form-item__content {
  width: 350px;
}
.eachBet-form .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.eachBet-form .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.eachBet-form .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.gameIcon-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.gameIcon-uploader .el-upload:hover {
  border-color: #409EFF;
}
.gameIcon-uploader-icon {
  font-size: 42px;
  color: #8c939d;
  width: 120px;
  height: 100px;
  line-height: 100px !important;
  text-align: center;
}
.gameIcon {
  width: 120px;
  height: 100px;
  display: block;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 64px;
  color: #8c939d;
  width: 300px;
  height: 170px;
  line-height: 170px !important;
  text-align: center;
}
.avatar {
  width: 300px;
  height: 170px;
  display: block;
}
.centerWatch .el-table td,
.centerWatch .el-table th.is-leaf {
  border: none;
}
.centerWatch .el-table td > .cell {
  color: #c5d5e6;
}
.centerWatch .el-table th > .cell {
  color: #c5d5e6;
}
.centerWatch .el-table::before {
  top: 50px;
  background-color: #c5d5e6;
}
.control-bar-comp .more {
  width: 100px;
  height: 34px;
}
.control-bar-comp .more .el-input__inner {
  width: 100%;
  height: 34px;
  font-size: 12px;
}
.control-bar-comp .more .el-input__icon {
  line-height: 34px;
}
.control-bar-comp .more input::-webkit-input-placeholder {
  color: #606266;
}
.control-bar-comp .more input::-moz-input-placeholder {
  color: #606266;
}
.control-bar-comp .more input::-ms-input-placeholder {
  color: #606266;
}
/*请求loading*/
.gb-loading.is-fullscreen .el-loading-spinner {
  margin-top: -100px !important;
}
.gb-loading .el-loading-spinner {
  padding-top: 10px;
  border-radius: 6px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}
.gb-loading .el-loading-spinner i {
  font-size: 40px;
  color: #409EFF;
}
.gb-loading .el-loading-spinner .el-loading-text {
  color: #409EFF;
  margin: 7px 0 10px;
  font-size: 13px;
}
