.vlt-card {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1px solid #dcdee2;
  border-color: #e8eaec;
  padding: 16px;
}
.vlt-card.vc-plr0 {
  padding-left: 0;
  padding-right: 0;
}
.vlt-card:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
}
.main-body {
  padding: 10px;
}
/*表格公用样式*/
.main-body .el-table th {
  height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f8f8f9;
  border-right: 1px solid #e8eaec;
}
.main-body .el-table th > .cell {
  font-size: 12px;
  color: #444444;
  line-height: 1;
}
.main-body .el-table td {
  text-align: center;
  background-color: #fff;
}
.main-body .el-table td > .cell {
  font-size: 12px;
  color: #444444;
  line-height: 18px;
}
/*按钮公用样式*/
.el-table td .el-button--mini {
  padding: 2px 7px;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 5px;
}
.el-table td .el-button--mini:last-child {
  margin-right: 0;
}
.main-body .el-button--medium {
  font-size: 12px;
  padding: 7px 15px;
  line-height: 1.5;
}
.mt20 {
  margin-top: 20px;
}
/*搜索按钮*/
.search-bar-comp .el-button {
  height: 34px;
}
.search-bar-comp .el-button--primary {
  height: 32px;
}
/* 编辑 单个样式 */
.vlt-edit-single .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-single .vlt-edit-btn {
  margin-left: 90px;
}
.vlt-edit-single .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-single .el-form-item__label {
  font-size: 12px;
  color: #444444;
}
.vlt-edit-single .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.vlt-edit-single .el-form-item__content,
.vlt-edit-single .el-cascader {
  width: 400px;
}
.vlt-edit-single .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-single .el-select,
.vlt-edit-single .el-date-editor {
  width: 100% !important;
}
.vlt-edit-single .el-input__inner:hover,
.vlt-edit-single .el-select:hover .el-input__inner,
.vlt-edit-single .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-single .el-textarea__inner {
  padding: 5px 10px;
}
/* 编辑 双个样式 */
.vlt-edit-double .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-double .vlt-edit-btn {
  display: flex;
  align-items: flex-end;
}
.vlt-edit-double .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-double .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.vlt-edit-double .el-form-item {
  flex: 50%;
  max-width: 700px;
}
.vlt-edit-double .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.vlt-edit-double .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.vlt-edit-double .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.vlt-edit-double .el-form-item__content {
  width: 400px;
}
.vlt-edit-double .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-double .el-select,
.vlt-edit-double .el-date-editor,
.vlt-edit-double .el-cascader {
  width: 100% !important;
}
.vlt-edit-double .el-input__inner:hover,
.vlt-edit-double .el-select:hover .el-input__inner,
.vlt-edit-double .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-double .el-textarea__inner {
  padding: 5px 10px;
}
/* 编辑 多个样式 */
.vlt-edit-over .vlt-edit-wrap {
  padding: 16px;
}
.vlt-edit-over .vlt-edit-btn {
  display: flex;
  align-items: flex-end;
}
.vlt-edit-over .title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
  line-height: 20px;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}
.vlt-edit-over .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.vlt-edit-over .el-form-item {
  flex: 30%;
  max-width: 30%;
}
.vlt-edit-over .el-form-item:nth-child(3n+2) {
  margin: 0 5%;
}
.vlt-edit-over .el-form-item__label {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
}
.vlt-edit-over .el-form--label-top .el-form-item__label {
  padding: 0 0 7px;
}
.vlt-edit-over .el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.vlt-edit-over .el-form-item {
  margin-bottom: 20px;
}
.vlt-edit-over .el-select,
.vlt-edit-over .el-date-editor,
.vlt-edit-over .el-cascader {
  width: 100% !important;
}
.vlt-edit-over .el-input__inner:hover,
.vlt-edit-over .el-select:hover .el-input__inner,
.vlt-edit-over .el-textarea__inner:hover {
  border-color: #57a3f3;
}
.vlt-edit-over .el-textarea__inner {
  padding: 5px 10px;
}
.money_Account_Manage .el-tabs__header.is-left {
  padding-top: 30px;
  width: 122px;
}
.money_Account_Manage .el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}
.bankbalance .control-bar-comp {
  margin: 20px 0 0 14px !important;
}
.bankdetail .table_paging {
  display: flex;
  justify-content: flex-end;
}
.externalpayadd .el-form-item .el-form-item__label {
  width: 120px !important;
}
.externalpayadd .el-form-item__content {
  margin-left: 120px !important;
}
.externalpayadd .vlt-edit-single .vlt-edit-btn {
  margin-left: 120px;
}
.externalbalance .control-bar-comp {
  margin: 20px 0 0 14px !important;
}
.externaldetail .table_paging {
  display: flex;
  justify-content: flex-end;
}
.haveListDetailTwo .control-bar-comp {
  display: flex;
  justify-content: flex-end;
}
.Customeraccountlist .table_paging {
  display: flex;
  justify-content: flex-end;
}
.roleManage .table-paging-comp {
  display: flex;
  justify-content: flex-end;
}
.operationManage .table-paging-comp {
  display: flex;
  justify-content: flex-end;
}
.operationManage .el-dialog {
  width: 38%;
}
.roleManage .el-dialog {
  width: 38%;
}
.el_box .el-dialog {
  width: 38%;
}
.lotteryTicket .el-dialog {
  width: 38%;
}
.expirySetting .el-dialog {
  width: 38%;
}
.el-collapse-item__header {
  font-size: 16px;
  font-weight: 600;
  text-indent: 25px;
}
.develop-plan .el-tabs--left .el-tabs__item.is-left {
  text-align: left;
}
.tabs-content .el-tabs__nav {
  margin-right: 100px;
}
.tabs-content .el-tabs__item.is-active {
  background: #e6f7ff;
}
.tabs-content .el-tabs--left .el-tabs__active-bar.is-left,
.tabs-content .el-tabs--left .el-tabs__nav-wrap.is-left::after {
  left: 194px;
  margin-right: 10px;
}
.tabs-content .el-tabs--left .el-tabs__nav-wrap.is-left {
  margin-right: -60px;
}
.tabs-content .el-tabs__item {
  padding: 0 70px;
}
.tabs-content .tables-content .el-tabs__item.is-active {
  background: none;
}
.tabs-content .switchStyle .el-switch__label {
  position: absolute;
  display: none;
  color: #fff;
}
.tabs-content .switchStyle .el-switch__label--left {
  z-index: 9;
  left: 6px;
}
.tabs-content .switchStyle .el-switch__label--right {
  z-index: 9;
  left: -14px;
}
.tabs-content .switchStyle .el-switch__label.is-active {
  display: block;
}
.tabs-content .switchStyle.el-switch .el-switch__core,
.tabs-content .el-switch .el-switch__label {
  width: 50px !important;
}
.result-assess .vlt-edit-wrap {
  margin: 50px 0 20px 350px;
}
.result-assess .index-config .check .el-checkbox {
  padding-bottom: 20px;
}
.allot-task .formTime input {
  width: 400px;
}
.create-active .header-box .el-form-item__label {
  width: 145px !important;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.create-active .addForm-box .add-form {
  margin-left: 95px;
}
.create-active .addForm-box .add-form :nth-child(1) .el-form-item__label {
  width: 100px !important;
}
.create-active .addForm-box .add-form .el-checkbox-group {
  display: inline-block;
  width: 400px;
  margin-top: -40px;
  margin-left: 20px;
}
.create-active .process-content .el-header {
  height: 110px !important;
}
.create-active input {
  width: 400px;
}
.create-active .el-textarea__inner {
  width: 400px;
}
.create-active .active-target .el-checkbox {
  margin-right: 10px;
}
.create-active .active-target .el-input {
  width: 250px;
  margin-bottom: 5px;
  display: inline-block;
}
.create-active .active-target .el-input input {
  width: 250px;
  margin-left: 18px;
}
.create-active .active-lobby .el-input {
  width: 250px;
  display: inline-block;
}
.create-active .active-lobby .el-input input {
  width: 250px;
}
.preview-template .upload-img {
  margin: 20px 0;
}
.preview-template .upload-img .upload-box {
  display: inline-block;
}
.preview-template .drag-upload {
  margin-bottom: 20px;
  position: relative;
  left: 75px;
}
.preview-template .active-rule .rule-item .el-select,
.preview-template .active-rule .rule-item .el-input {
  width: 100px;
  margin-right: 20px;
  display: inline-block;
}
.preview-template .active-rule .rule-item .el-select input,
.preview-template .active-rule .rule-item .el-input input {
  width: 100px;
}
.preview-template .active-rule .rule-item .last-rule input {
  width: 200px;
}
.preview-template .remark .el-textarea {
  width: 500px;
  display: inline-block;
}
.preview-template .remark .el-textarea textarea {
  width: 500px;
  margin-top: 10px;
}
.preview-template .item-check .el-checkbox {
  padding-bottom: 10px;
}
.plan-detail .base-data {
  width: 60%;
  margin-top: 20px;
  margin-left: 150px;
}
.plan-detail .base-data .rule-form {
  width: 100%;
}
.plan-detail .base-data .rule-form .el-select {
  width: 160px;
}
.plan-detail .base-data .rule-form .el-input {
  width: 150px;
}
.plan-detail .base-data .rule-form .el-input input {
  width: 150px;
}
.plan-detail .ration-target {
  margin-top: 20px;
}
.plan-detail .ration-target .ration-check {
  margin-left: 70px;
  margin-top: -16px;
}
.plan-detail .ration-target .ration-check .el-checkbox {
  margin-bottom: 20px;
}
.progress-bar {
  width: 800px;
  margin: 20px 150px;
}
.state-inform {
  position: absolute;
  left: 900px;
  top: 12px;
  text-align: right;
}
.tables-content .el-tabs__item.is-active {
  background: none;
}
.account-detail .equity-title {
  margin-left: 32px;
  margin-top: 5px;
}
.account-detail .equity-title span {
  display: inline-block;
  margin-right: 400px;
}
.login-container.vlt-card .vlt-edit-single .el-input__inner {
  width: 368px;
  height: 46px;
  border-radius: 4px;
}
