// home
.home-container{
  height: 100%;
  .right-container{
    text-align: left;
    overflow: hidden;
  }
  .main{
    overflow: auto;
    border-radius: 4px;
    padding: 10px;
  }
  .main-body{
    min-height: 100%;
    background-color: #fff;
    box-sizing: border-box;
  }
}